html
	head
		title= app.title
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="google-site-verification" content="HehrEiItT_UHW5WK2ueXi9IAA1HZJToKa-x9H2CT7Ko")

		//- Fonts & Icons
		link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat" )

		//- Styles
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" )
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-okaidia.css")
		link( rel="stylesheet" href="/styles/global.css" )

		block head

	body

		#app

			if app.showNavbar
				include shared/navbar/index.pug

			block content

			if app.showFooter
				include shared/footer/index.pug
				

		if app.production
			script(src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js")
		else
			script(src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.js")
			script(src="https://unpkg.com/vue/dist/vue.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js")


		block scripts