$break-small: 768px;


html {
    overflow: auto;
    font-family: 'Open Sans';
}

body {
    font-size: 20px;
}

code .tag {
    align-items: initial;
    border-radius: initial;
    color: initial;
    display: initial;
    font-size: initial;
    height: initial;
    justify-content: initial;
    line-height: initial;
    background: initial;
    vertical-align: initial;
    padding: initial;
}

.title {
    font-family: 'Montserrat';
}

.is-full-width {
    width: 100%;
}

.is-padded {
    padding: 20px;
}

.is-marginned {
    margin: 10px;
}

.is-faint {
    opacity: .5;
}

.is-bubbly {

    transition: transform .3s;
    transform: scale(1);

    &:hover {

        transform: scale(1.2);

    }
}

.is-transparent-nav {
    width: 100%;
    top: 0;
    background: #333;

    a.title {
        color: white;
    }

}

.content {
    h1,h2,h3 {
        font-family: 'Montserrat';
    }
}

.footer {

    padding: 3rem 20px;

    @media screen and (max-width: $break-small) {

        .level-left {
            justify-content: center;
        }

        .level-item:not(:last-child) {
            margin-bottom: 0;
        }
 
    }
    
}